* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #003379;
}

.logo > h2 {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  margin-left: 30px;
  text-transform: capitalize;
}
.logo {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 80px;
  align-items: center;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  z-index: 1000;
}

/* title */

.login-title {
  color: white;
  display: flex;
  margin-top: 70px;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
}

.login-subtitle {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-top: 10px;
  opacity: 50%;
  font-weight: 400;
}

.login-error {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 400;
}

/* body */

.login-tag {
  margin-left: 10px;
  color: white;
}
.login-input {
  border-radius: 100px;
  height: 40px;
  border: 2px solid white;
  padding-left: 20px;
  outline: none;
  padding-right: 20px;
  width: 100%;
}
.login-input::placeholder {
  color: rgb(187, 187, 187);
}
.login-button2 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: 20px;
  font-weight: 400;
}
.login-submit {
  margin-top: 20px;
  width: 400px;
  padding: 0px;
  height: 40px;
  background-color: #f70067;
  border-radius: 100px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}
.login-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-input-error {
  border-radius: 100px;
  height: 40px;
  border: 2px solid red;
  padding-left: 20px;
  outline: none;
  padding-right: 20px;
  width: 400px;
}
#login-name-error,
#login-email-error,
#login-pass-error {
  display: none;
  font-size: 12px;
  margin-left: 5px;
  color: red;
}

@media screen and (max-width: 480px) {
  .login-input-container {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .login-submit {
    margin-top: 40px;
    width: 80%;
  }
  .logo > h2 {
    display: none;
  }
  .login-title {
    margin-top: 30px;
  }
}

@media screen and (max-width: 770px) {
  .login-input-container {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .login-submit {
    margin-top: 40px;
    width: 60%;
  }
  .logo > h2 {
    display: none;
  }
  .login-title {
    margin-top: 30px;
  }
}
@media screen and (min-width: 770px) {
  .login-input-container {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  .login-submit {
    margin-top: 40px;
    width: 400px;
  }

}
